.input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 5px;
  justify-content: space-between;
}

.input--red {
  color: var(--red);
}
.input__name {
  font-weight: 700;
  font-size: 0.8rem;
}
.input__error {
  font-size: 0.8rem;
}
.input__input {
  width: 100%;
  outline: none;
  border: 1px solid rgb(204, 202, 202);
  border-radius: 5px;
  font-family: inherit;
  padding: 0.7rem 0.5rem;
  font-weight: 700;
}
.input--red .input__input {
  border-color: var(--red);
}
.input__input:focus {
  border-color: var(--orange);
}
