* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --orange: #d87d4a;
  --red: #cd2c2c;
  --br: 10px;
}

html,
body,
#root {
  height: 100%;
  font-family: "Manrope", sans-serif;
}

img {
  display: block;
  object-fit: cover;
}
ul {
  list-style: none;
}
